<?xml version="1.0"?>
<!-- 
    Примечание: В качестве альтернативы редактирования этого файла можно воспользоваться 
    инструментом веб-администрирования для настройки параметров приложения. Воспользуйтесь
    параметром Веб-сайт->Конфигурация Asp.Net в Visual Studio.
    Полный список параметров и комментариев можно найти в файле 
    machine.config.comments обычно расположенном в папке 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="SOSDB" connectionString="Data Source=.;Initial Catalog=SOSDD.Mog;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
	<!-- 
            Значение параметра compilation debug="true" означает, что в откомпилированную 
            страницу будут вставлены отладочные символы. Так как этот 
            параметр влияет на производительность, следует задавать для него 
            значение True только на этапе разработки.
        -->
	<roleManager enabled="true"/>
	<compilation debug="true" targetFramework="4.0"/>
	<!--
            Раздел <authentication> позволяет настроить параметры 
            режима проверки подлинности, используемого ASP.NET для проверки 
            подлинности пользователя, запрашивающего разрешение на доступ. 
        -->
	<authentication mode="Forms">
	  <forms loginUrl="~/LoginControl.ascx"/>
	</authentication>
	<authorization>
	  <allow users="?"/>
	</authorization>
	<membership defaultProvider="CustomMembershipProvider">
	  <providers>
		<clear/>
		<add name="CustomMembershipProvider" type="SOS.MyMemberShip.MyMembershipProvider" connectionStringName="SOSDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
	  </providers>
	</membership>
	<!--
            Раздел <customErrors> служит для настройки действий, 
            выполняемых при возникновении необрабатываемой 
            ошибки во время выполнения запроса. В частности, 
            разработчик может задать html-страницы ошибок 
            для отображения вместо трассировки ошибки в стеке.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	<customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/ERR.html" >
	  <error statusCode="404" redirect="~/ERR.html"/>
  </customErrors>
  </system.web>
  <!-- 
        Раздел system.webServer требуется для работы ASP.NET AJAX в
        Internet Information Services 7.0.  Этот раздел необязателен для предыдущей версии IIS.
    -->
  <system.net>
    <mailSettings>
      <smtp from="kaziukoslaviana@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="kaziukoslaviana@gmail.com" password="0205kzkz"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>-->
</configuration>